* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerBgColor: #457b9d;
  --fontColor: #ececec;
  --black: #132743;
  --white: #fff;
}

body,
input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--fontColor);
}

/*==========HEADER==========*/

header.header {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--headerBgColor);
}

/*==========LOGO==========*/
.tittle {
  color: var(--black);
  font-size: 2rem;
  line-height: 0;
}

.tittle span {
  color: var(--fontColor);
}

/*==========NAVBAR==========*/

nav ul.nav-bar,
li {
  list-style: none;
  line-height: 0;
}

.nav-bar,
li a {
  text-decoration: none;
  color: var(--fontColor);
  transition: color 0.2s ease;
  font-size: 0.9rem;
}

.nav-bar,
li {
  display: inline;
  margin-left: 2rem;
}

.nav-bar,
li a:hover {
  color: var(--black);
}

/*==========CARD PRODUCTS==========*/

#products {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  position: relative;
}

#products .card {
  width: 250px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 0 3px 3px;
  padding-top: 1.5rem;
  background-color: var(--white);
  overflow: hidden;
}

.card {
  margin: 0.5rem;
  text-decoration: none;
  position: relative;
}

.card .product-single {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#products .card:hover {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.12));
}

.card .product-single img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.informations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  position: absolute;
  top: 70%;
  left: 10px;
  font-size: 15px;
}

.informations .description {
  color: #333;
}

.informations .price {
  color: rgb(19, 19, 19);
  font-size: 18px;
  margin: 0.2rem 0;
}

.installments {
  color: var(--headerBgColor);
  font-size: 13px;
}

.informations .price sup {
  font-size: 14px;
  margin-top: 1px;
}

.divider {
  width: 100%;
  height: 1px;
  top: 67%;
  background-color: rgba(51, 51, 51, 0.192);
  position: absolute;
}

/*==========PRODUCT==========*/

/*==========MEDIA==========*/

@media (max-width: 918px) {
  nav .nav-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--headerBgColor);
    z-index: 999;
    left: -1000px;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  nav .nav-bar li {
    list-style: none;
    line-height: 0;
    display: block;
    margin-top: 4rem;
  }

  .nav-bar,
  li {
    margin-left: 0;
  }

  .nav-bar li a {
    text-decoration: none;
    color: var(--fontColor);
    transition: color 0.2s ease;
    font-size: 1rem;
  }

  .nav-bar li a:hover {
    color: var(--black);
  }
  nav .side-bar {
    width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  nav .side-bar:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: var(--white);
    box-shadow: 0 10px 0 var(--white);
    transition: 0.2s;
    transform: translateY(-10px);
  }

  nav .side-bar:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: var(--white);
    transform: translateY(10px);
  }

  nav .side-bar.active::before {
    box-shadow: 0 0 0 var(--white);
    transform: translateY(0px) rotate(-45deg);
  }

  nav .side-bar.active::after {
    transform: translateY(0px) rotate(45deg);
  }

  .tittle {
    color: var(--black);
    font-size: 2rem;
    line-height: 0;
  }

  .tittle span {
    color: var(--fontColor);
  }
}

@media (max-width: 540px) {
  #products .card {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    border-radius: 0.3rem;
    background-color: var(--white);
    overflow: hidden;
  }

  .card {
    margin: 0.5rem 0.5rem;
    text-decoration: none;
  }

  .card .product-single {
    display: flex;
  }

  #products .card:hover {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.12));
  }

  .card .product-single img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .informations {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
      Arial, sans-serif;
    position: absolute;
    top: 70%;
    left: 10px;
    font-size: 15px;
  }

  .informations .description {
    color: #333;
  }

  .informations .price {
    color: rgb(19, 19, 19);
    font-size: 18px;
  }

  .installments {
    color: var(--headerBgColor);
    font-size: 13px;
  }

  .informations .price sup {
    font-size: 14px;
    margin-top: 1px;
  }

  .divider {
    display: none;
  }
}
